.pageWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* .title {
    margin-top: 3.5em;
    margin-left: 8em;
}

.pageTitle {
    font-size: 2rem;
    font-weight: 600;
}

.pageDescription {
    margin-top: .3em;
    font-size: 1.3em;
    font-weight: 700;
    color: #727878;
} */

.title {
    margin-top: 3.5em;
    margin-left: 8em;
}

.pageTitle {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pageDescription {
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: 700;
    color: #727878;
}

.filtersContainer {
    display: flex;
    gap: 25px;
    margin: 35px 130px;
    align-items: center;
}

.filterSelect {
    padding: 0.5em 1em;
    border-radius: 7px;
    border: 1px solid rgba(171, 169, 231, 0.3);
    background-color: white;
    color: #506264;
    cursor: pointer;
    font-size: 14px;
}

.filterSelect:hover {
    border: 1px solid #EC4A27;
}

.recipesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5em;
    grid-row-gap: 3em;
    margin: 0 107px;
    justify-items: center;
}

.recipeCard {
    background-color: rgba(171, 169, 231, 0.2);
    border-radius: 10px;
    padding: .8em 1em;
    height: 340px;
    width: 450px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.recipeCard:hover {
    background-color: rgba(171, 169, 231, 0.264);
    box-shadow: 0 4px 10px rgba(65, 65, 82, 0.3);
}

.recipeTitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #506264;
}

.recipeTitle {
    font-weight: 600;
    margin-top: .3em;
    font-size: 1.2em;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipeImage {
    height: 79%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.recipeInfoWrapper {
    display: flex;
    width: 100%;
}

.recipeTime {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(143, 195, 255, .73);
    border-radius: 7px;
    color: #506264;
    font-size: .8em;
    font-weight: 500;
    padding: .4em .8em;
    margin-top: .5em;
    margin-right: 1em;
}

.recipeIngredients {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(227, 167, 255, .6);
    border-radius: 7px;
    color: #506264;
    font-size: .8em;
    font-weight: 500;
    padding: .4em .8em;
    margin-top: .5em;
    margin-right: 1em;
}

.recipeClock {
    font-size: 1.4em !important;
    margin-right: .3em;
}

.recipeHeart {
    font-size: 1.3em !important;
    transition: color 0.3s ease;
}

.recipeHeart:hover {
    color: #EC4A27;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 70px;
    margin-top: auto;
}

.pageButton {
    background-color: #EC4A27;
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.disabled {
    background-color: #a8a5a2;
    width: 150px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    color: white;

    &:hover {
        cursor: default;
    }
}

.pageNumber {
    color: #506264;
    font-weight: 600;
}

.noRecipes {
    grid-column: 1 / -1;
    text-align: center;
    color: #506264;
    font-size: 1.2em;
}

.searchBarContainer {
    margin: 2em 8em;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.searchBar {
    padding: 0.5em 1em;
    border-radius: 7px;
    border: 1px solid rgba(171, 169, 231, 0.3);
    background-color: white;
    color: #000000;
    font-size: 14px;
    width: 300px;
}

.searchBar::placeholder {
    color: #506264 !important;
    opacity: 1;
}

.searchBar:focus {
    outline: none;
    border-color: #EC4A27;
}

.searchButton {
    background-color: #EC4A27;
    border-radius: 5px;
    height: 33px;
    padding: 0 40px;
    color: white !important;
    font-weight: 600 !important;
    cursor: pointer;
    font-size: 15px !important;
    transition: background-color 0.3s ease !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton:hover {
    background-color: rgb(233, 69, 15) !important;
}

.favoriteIconRed {
    color: red;
    cursor: pointer;
}

@media (min-width: 1600px) and (max-width: 2000px) {
    .recipeCard {
        width: 300px;
        height: 240px;
    }

    .recipesContainer {
        grid-column-gap: 0;
        margin: 0 75px;
        grid-row-gap: 2em;
        margin-bottom: 30px;
    }

    .recipeTitle {
        font-size: .9em;
        font-weight: 450;
    }

    .recipeTime {
        font-size: .6em;
    }

    .recipeIngredients {
        font-size: .6em;
    }

    .recipeHeart {
        font-size: 1em !important;
    }

    .searchButton {
        height: 32px;
    }

    .pageTitle {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .pageDescription {
        font-size: 1em;
        font-weight: 500;
    }

    .filtersContainer {
        margin: 25px 130px;
    }

    .recipeImage {
        height: 185px;
        width: 300px;
        border-radius: 10px;
        object-fit: cover;
    }

    .title {
        margin-top: 3em;
    }

    .pageButton {
        font-size: 16px;
        padding: 10px 7px;
    }

    .pagination {
        padding-bottom: 35px;
    }

    .filterSelect,
    .searchBar {
        font-size: 13px;
    }

    .searchButton {
        height: 28px;
        font-size: 14px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .recipeCard {
        width: 300px;
        height: 240px;
    }

    .recipeImage {
        height: 185px;
        width: 300px;
        border-radius: 10px;
        object-fit: cover;
    }

    .recipesContainer {
        grid-column-gap: 0;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 50px;
        grid-row-gap: 2em;
        margin-bottom: 30px;
    }

    .recipeTitle {
        font-size: .9em;
        font-weight: 450;
    }

    .recipeTime {
        font-size: .6em;
    }

    .recipeIngredients {
        font-size: .6em;
    }

    .recipeHeart {
        font-size: 1em !important;
    }

    .searchBar {
        width: 275px;
        min-width: 275px;
        font-size: 13px;
    }

    .filtersContainer {
        gap: 25px;
        margin: 25px 130px;
    }

    .searchButton {
        height: 28px;
        font-size: 14px !important;
    }

    .filterSelect,
    .searchBar {
        font-size: 13px;
    }

    .pageTitle {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .pageDescription {
        font-size: 1em;
        font-weight: 500;
    }

    .pagination {
        padding-bottom: 35px;
    }

    .pageButton {
        font-size: 16px;
        padding: 10px 7px;
    }

    .title {
        margin-top: 3em;
    }
}

@media (min-width: 750px) and (max-width: 1200px) {
    .recipeCard {
        width: 300px;
        height: 240px;
    }

    .recipeImage {
        height: 185px;
        width: 300px;
        border-radius: 10px;
        object-fit: cover;
    }

    .recipesContainer {
        grid-column-gap: 0;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;
        margin-bottom: 30px;
        grid-row-gap: 2em;
    }

    .recipeTitle {
        font-size: .9em;
        font-weight: 450;
    }

    .recipeTime {
        font-size: .6em;
    }

    .recipeIngredients {
        font-size: .6em;
    }

    .recipeHeart {
        font-size: 1em !important;
    }

    .searchBar {
        width: 220px;
        min-width: 220px;
        font-size: 12px;
    }

    .filtersContainer {
        gap: 10px;
    }

    .filterSelect {
        font-size: 12px;
        width: 248px;
    }

    .searchButton {
        height: 27px;
        font-size: 13px !important;
    }

    .pageTitle {
        font-size: 1.7rem;
    }

    .pageDescription {
        font-size: 1em;
    }

    .filtersContainer {
        flex-direction: column;
        align-items: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .pagination {
        padding-bottom: 35px;
    }

    .pageButton {
        font-size: 16px;
        padding: 10px 7px;
    }

    .title {
        margin-top: 3em;
    }
}

@media (min-width: 0px) and (max-width: 750px) {
    .recipeCard {
        width: 300px;
        height: 240px;
    }

    .recipeImage {
        height: 185px;
        width: 300px;
        border-radius: 10px;
        object-fit: cover;
    }

    .recipesContainer {
        grid-column-gap: 0;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 0px;
        grid-row-gap: 2em;
        margin-bottom: 30px;
    }

    .recipeTitle {
        font-size: .9em;
        font-weight: 450;
    }

    .recipeTime {
        font-size: .6em;
    }

    .recipeIngredients {
        font-size: .6em;
    }

    .recipeHeart {
        font-size: 1em !important;
    }

    .searchBar {
        width: 220px;
        min-width: 220px;
        font-size: 12px;
    }

    .filtersContainer {
        gap: 10px;
    }

    .filterSelect {
        font-size: 12px;
        width: 248px;
    }

    .searchButton {
        height: 27px;
        font-size: 13px !important;
    }

    .pageTitle {
        font-size: 1.7rem;
    }

    .pageDescription {
        font-size: 1em;
    }

    .filtersContainer {
        flex-direction: column;
        align-items: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .pagination {
        padding-bottom: 35px;
        gap: 30px;
    }

    .pageButton {
        padding: 9px 6px;
        font-size: 13px;
        width: 100px;
    }

    .pageNumber {
        color: #506264;
        font-weight: 500;
        font-size: 12px;
    }
}

/* List stuff */
.listItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 30vw;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.recipeName {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    flex: 1;
    text-align: left;
}

.listImage {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.listItem button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

/* cart stuff */
.cartDropdown {
    position: absolute;
    top: 180px;
    right: 20px;
    width: 250px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease;
    max-height: 300px;
    overflow-y: auto;
}

  .cartDropdown .cartHeader {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
  }

  .cartDropdown .cartItems {
    margin-top: 10px;
  }

  .cartDropdown .cartItem {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    word-wrap: break-word;
    white-space: normal;
}

  .cartDropdown .cartFooter {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  .cartDropdown button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .cartDropdown button:hover {
    background-color: #45a049;
  }

  /* cart icon */
  .cartIcon {
    position: relative;
    left: -30px;
    transition: color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  }

  .cartIcon:hover {
    color: #45a049;
    transform: scale(1.1);
  }
