.pageWrapper {
    margin: 7vh 10vw;
}

.title {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 2em;
}

.pantryContent {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    color: #506264;
    width: 12%;
}

.notActive {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    padding: .6em 1.5em;
    cursor: pointer;
}

.active {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    padding: .6em 1.5em;
    color: #EC4A27;
    cursor: pointer;
}

.seperator {
    height: 60vh;
    width: 1px;
    background-color: #506264;
    border-radius: 5px;
    margin-left: 4rem;
}

.pantrySection {
    margin-left: 5rem;
}

.ingredientTitle {
    padding-top: 10px;
    padding-bottom: 2em;
    font-size: 1.2em;
    font-weight: 500;
}