@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    background: linear-gradient(
        90deg, 
        rgba(255, 207, 150, .6) 0%,
        rgba(244, 199, 201, 0.4) 30%, 
        rgba(255, 255, 255, 0.6) 100%);
    padding-bottom: 50px;
  }

html, body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
}