.landingPage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landingPageWrapper {
    flex: 1;
    background-image: url('/assets/foodRight.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100vh;
}

.landingPageContent {
    display: flex;
    padding: 13vh 0 0 12vw;
}

.landingLogo {
    width: 18vw;
    height: 33vh;
}

.descriptionTitle {
    font-size: 2.3vw;
    font-weight: 700;
    margin-top: .5em;
}

.descriptionBullets {
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: 1.5em;
    margin-left: 4rem;
}

.descriptionBullet {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.bottomContent {
    padding: 8vh 0 0 12vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomDescription {
    display: flex;
    font-size: 1vw;
    font-weight: 600;
    font-style: italic;
    color: #506264;
    margin-bottom: 5vh;
}

.bottomDescription * {
    width: 10vw;
    text-align: center;
}

.getStarted {
    background-color: #EC4A27;
    height: 5vh;
    width: 15vw;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 750;
    margin-bottom: 1.5rem;

    &:hover {
        background-color: rgb(233, 69, 15);
    }
}

.login {
    font-size: .8vw;
    font-weight: 600;
}

.loginLink {
    color: black !important;
}

.bulletArrow {
    color: #EC4A27;
    font-size: 2.5rem !important;
    margin-right: 1rem;
}

@media screen and (max-width: 450px) {
    .landingPageWrapper {
        background-image: none;
    }

    .landingPageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7vh 0 0 0;
    } 

    .landingLogo {
        height: 50%;
        width: 50%;
    }

    .descriptionTitle {
        font-size: 6vw;
        margin-top: 2em;
    }

    .bulletArrow {
        font-size: 4vw !important;
    }

    .descriptionBullets {
        margin-left: 0;
        font-size: 3vw;
    }

    .descriptionBullet {
        margin-bottom: 1.5vh;
        display: flex;
        align-items: center;
    }

    .descriptionText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottomContent {
        width: 100%;
        padding: 6vh 0;
    }

    .bottomDescription {
        font-size: 2.7vw;
        justify-content: center;
    }

    .bottomDescription * { 
        width: 30%;
    }

    .getStarted {
        font-size: 3.5vw;
        height: 4vh;
        width: 40vw;
        margin-bottom: 1.5em;
    }

    .login {
        font-size: 3vw;
    }
}