.landingPage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landingPageWrapper {
    flex: 1;
    background-image: url('/assets/foodRight.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100vh;
}

.landingPageContent {
    display: flex;
    padding: 13vh 0 0 10%;
}

.landingLogo {
    width: 23em;
    height: 21em;
}

.descriptionTitle {
    font-size: 45px;
    font-weight: 700;
    margin-top: .5em;
}

.descriptionBullets {
    font-size: 25px;
    font-weight: 700;
    margin-top: 1.5em;
    margin-left: 4rem;
}

.descriptionBullet {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.bottomContent {
    padding: 100px 0 0 300px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomDescription {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    color: #506264;
    margin-bottom: 5vh;
}

.bottomDescription * {
    width: 220px;
    text-align: center;
}

.getStarted {
    background-color: #EC4A27;
    height: 60px;
    width: 360px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    text-decoration: none;
    font-size: 28px;
    font-weight: 750;
    margin-bottom: 1.5rem;

    &:hover {
        background-color: rgb(233, 69, 15);
    }
}

.login {
    font-size: 18px;
    font-weight: 600;
}

.loginLink {
    color: black !important;
}

.bulletArrow {
    color: #EC4A27;
    font-size: 2.4rem !important;
    margin-right: 1rem;
}

@media (min-width: 1300px) and (max-width: 2000px) { 
    .landingLogo {
        width: 20em;
        height: 19em;
    }

    .descriptionTitle {
        font-size: 40px;
    }

    .descriptionBullets {
        font-size: 20px;
        font-weight: 700;
        margin-top: 25px;
        margin-left: 3.5rem;
    }
    
    .bottomDescription {
        font-size: 17px;
    }

    .bottomDescription * {
        width: 170px;
    }

    .login {
        font-size: 15px;
    }

    .getStarted {
        font-size: 22px;
        width: 330px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) { 
    .landingPageWrapper {
        background-image: none;
    }

    .landingPageContent {
        padding: 13vh 0 0 0;
        justify-content: center;
    }

    .landingLogo {
        width: 20em;
        height: 19em;
    }

    .descriptionTitle {
        font-size: 40px;
    }

    .descriptionBullets {
        font-size: 20px;
        font-weight: 700;
        margin-top: 25px;
        margin-left: 3.5rem;
    }
    
    .bottomDescription {
        font-size: 17px;
    }

    .bottomDescription * {
        width: 170px;
    }

    .login {
        font-size: 15px;
    }

    .getStarted {
        font-size: 22px;
        width: 330px;
    }
}

@media (min-width: 499px) and (max-width: 1000px) { 
    .landingPageWrapper {
        background-image: none;
    }

    .landingPageContent {
        padding: 8vh 0 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landingLogo {
        width: 320px;
        height: 300px;
    }

    .descriptionTitle {
        font-size: 33px;
        text-align: center;
    }

    .bottomContent {
        justify-content: center;
        width: 100%;
        padding: 4vh 0 0 0;
    }

    .descriptionBullets {
        font-size: 16px;
        font-weight: 700;
        margin-top: 1.3em;
        margin-left: 2.5rem;
    }

    .descriptionBullet {
        margin-bottom: 2vh;
    }

    .bulletArrow {
        font-size: 1.2rem !important;
    }
    
    .bottomDescription {
        font-size: 16px;
    }

    .login {
        font-size: 16px;
    }

    .getStarted {
        font-size: 20px;
        width: 320px;
    }

    .bottomDescription * {
        width: 150px;
    }
}

@media screen and (max-width: 450px) {
    .landingPageWrapper {
        background-image: none;
    }

    .landingPageContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7vh 0 0 0;
    } 

    .landingLogo {
        height: 50%;
        width: 50%;
    }

    .descriptionTitle {
        font-size: 6vw;
        margin-top: 2em;
    }

    .bulletArrow {
        font-size: 4vw !important;
    }

    .descriptionBullets {
        margin-left: 0;
        font-size: 3vw;
    }

    .descriptionBullet {
        margin-bottom: 1.5vh;
        display: flex;
        align-items: center;
    }

    .descriptionText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottomContent {
        width: 100%;
        padding: 6vh 0;
    }

    .bottomDescription {
        font-size: 2.7vw;
        justify-content: center;
    }

    .bottomDescription * { 
        width: 30%;
    }

    .getStarted {
        font-size: 3.5vw;
        height: 4vh;
        width: 40vw;
        margin-bottom: 1.5em;
    }

    .login {
        font-size: 3vw;
    }
}