.regPageWrapper {
    height: 90vh;
    background-image: url('/assets/ingredients.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regWrapper {
    background-color: rgba(253, 243, 243, 0.9);
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 1000px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.regImage {
    height: 13%;
    width: 13%;
}

.step1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2vh;
}

.titleOrange {
    color: #EC4A27;
}

.regInput {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.regName {
    display: flex;
    justify-content: space-between;
}

.regNameField {
    width: 48%;
}

.regButton {
    background-color: #EC4A27;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    width: 45%;
    text-align: center;
    border-radius: 10px;
    padding: .7rem 0;
    margin-top: 2.5rem;

    &:hover {
        background-color: rgb(233, 69, 15);
        cursor: pointer;
    }
}

.regHaveAcc {
    margin-top: 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.regLogin {
    color:#EC4A27;
}

.progressBar {
    width: 47%;
    margin-top: .5rem;
}

.addIngredient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin-top: 2rem;
}

.quantity, .unit, .ingredient{
    display: flex;
    flex-direction: column;
    color: #506264;
}

.quantity {
    width: 17%;
}

.unit {
    width: 25%;
}

.ingredient {
    width: 45%;
}

.ingredientList {
    margin-top: 2rem;
    padding: 2rem;
    width: 60%;
    height: 325px;
    border-radius: 10px;
    background-color: rgba(236, 228, 227, .6);
    color: #506264;
    overflow-y: auto;  
    position: relative; 
}

.scrollableContainer {
    display: flex;          
    flex-wrap: wrap;          
    max-height: 100%;        
    align-items: flex-start;          
    justify-content: space-between;  
}

.ingredientItem {
    font-size: 19px;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.removeButton {
    color: #506264;
    font-size: 20px;
    margin-left: 7px;
    &:hover {
        color:#EC4A27;
        cursor: pointer;
    }
}

.addButton {
    color: #506264;
    font-size: 25px;
    margin-top: 10px;
    &:hover {
        color:#EC4A27;
        cursor: pointer;
    }
}

.navButtons {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.navButton {
    background-color: #EC4A27;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    padding: .7rem 0;
    margin-top: 2.5rem;

    &:hover {
        background-color: rgb(233, 69, 15);
        cursor: pointer;
    }
}


.addAllergy {
    display: flex;
    align-items: center;
    width: 65%;
    margin-top: 2rem;
    justify-content: space-around;
}

.allergyInput {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: #506264;
}

.nutritionalGoals {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.nutritionalItem {
    padding-bottom: 1rem;
    color: #506264;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nutritionName {
    width: 45%;
}

.nutritionInput {
    width: 30%;
}
