.regPageWrapper {
    height: 90vh;
    background-image: url('/assets/ingredients.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100vw auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regWrapper {
    background-color: rgba(253, 243, 243, 0.9);
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 1000px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regImage {
    padding-top: 5rem;
    height: 13%;
    width: 13%;
}

.step1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2vh;
}

.titleOrange {
    color: #EC4A27;
}

.regInput {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.regName {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.regNameField {
    width: 48%;
}

.regTextField {
    margin-top: 1.5rem;
}

.regButton {
    background-color: #EC4A27;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    width: 45%;
    text-align: center;
    border-radius: 10px;
    padding: .7rem 0;
    margin-top: 2.5rem;

    &:hover {
        background-color: rgb(233, 69, 15);
        cursor: pointer;
    }
}

.regHaveAcc {
    margin-top: 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.regLogin {
    color:#EC4A27;
}

.progressBar {
    width: 47%;
    margin-top: .5rem;
}
