.recipeContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.recipeImage {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.detailsSection {
    margin-top: 20px;
}

.ingredientList, .instructionsList {
    padding-left: 20px;
}

.instructionsList {
    list-style-type: decimal;
    padding-left: 20px;
    line-height: 1.8;
}

.instructionsList li {
    margin-bottom: 10px;
}

.ingredientList li {
    margin-bottom: 5px;
}


