.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.6rem 3.5rem 1.6rem 3.5rem ;
    border-bottom: 1px solid black;
}

.navLogo {
    height: 5rem;
    width: 5rem;
    padding-right: 15px;
}

.navTitle {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.palText {
    color: #EC4A27;
}

.navLinksWrapper *{
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    margin: 0 1.5rem 0 1.5rem;
}

.navGetStarted {
    background-color: #EC4A27;
    border-radius: 25px;
    height: 3rem;
    display: flex;
    align-items: center;

    &:hover {
        background-color: rgb(233, 69, 15);
        cursor: pointer;
    }
}

.navGetStartedText {
    color: white !important;
}

.navLinksWrapper {
    display: flex;
    align-items: center;
}

.activeLink {
    color:#EC4A27 !important;
  }

  .loginButton,
.logoutButton {
    border: 2px solid black; 
    border-radius: 25px; 
    padding: 0 1em; 
    height: 3rem; 
    background-color: transparent; 
    color: black; 
    display: flex;
    align-items: center; 
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none; 
}

.loginButton:hover,
.logoutButton:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}
